<div class="menu-sub">
  <div class="menu-sub_title">
    <mat-icon aria-hidden="false" fontIcon="settings" [color]="'red'"></mat-icon>
    <span>表格</span>
  </div>
  <section class="menu-sub-wrapper">
    <a routerLink="/pages/table/list" class="menu-sub_item">普通列表1</a>
    <a routerLink="/pages/table/full-list" class="menu-sub_item">普通列表2</a>
    <div class="menu-sub_item">普通列表3</div>
    <div class="menu-sub_item">普通列表4</div>
  </section>
</div>
<div class="menu-sub">
  <div class="menu-sub_title">
    <mat-icon aria-hidden="false" fontIcon="settings" [color]="'red'"></mat-icon>
    <span>表格</span>
  </div>
  <section class="menu-sub-wrapper">
    <div class="menu-sub_item">普通列表2</div>
    <div class="menu-sub_item">普通列表3</div>
    <div class="menu-sub_item">普通列表4</div>
  </section>
</div>
